<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Play</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/style2.css">
</head>
<body> 
    
    <!-- <video  width=80% controls>
        <source src="<%= file %>">
      </video> -->
      <video id="videoPlayer" width="80%" controls autoplay>
        <source src="/play" />
      </video>
    <form action="/login" method = "get">
        <button class="btn btn-danger item3 play"><h4>Go Back</h4></button>
      </form>
</body>
</html> 
